
body {
    background: linear-gradient(to bottom, #0d1b2a, #1b263b);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background: rgba(255, 69, 0, 0.8);
    font-size: 1.5em;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.profile img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid #ff7849;
  margin-bottom: 10px;
}

.profile p {
  font-size: 1.1em;
  color: #ccc;
}

.about {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    width: 60%;
    text-align: left;
}




.about h2 {
    margin-top: 0;
    color: #ff4500;
}


footer {
    margin-bottom: 20px;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #ff4500, #e63946);
    width: 80%;
    margin: 30px auto;
    opacity: 0.8;
}



    
@media only screen and (max-width: 600px) {
    h1, h2, h3 {
        font-size: 1.2em;
    }
    
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
}

.container h2,
.container h3,
.container p{
    text-align: initial;
}

.container h2, .container h3 {
    color: #ff4500;
}

footer {
  padding: 20px;
  background: #1b263b;
  font-size: 0.9em;
  color: #aaa;
}

.span {
  padding: 3px;
}


.header {
    font-family: 'Segoe UI', sans-serif;
    background-image: url("assets/bg.jpg");
    background-size: cover;
    text-align: center; /* centers the header text */
    font-weight: 700; /* thicker font weight */
    text-shadow: 
        0 0 10px white,   /* glowing effect */
        0 0 20px #87CEFA, /* soft blue glow */
        0 0 30px #1E90FF; /* deeper blue glow */
    color: #0b0b45; /* rich cosmic dark blue */
}

.rocket {
    text-shadow: none;
}